version: '3.9'
services:
  express:
    container_name: video-express
    image: video-express:latest
    build:
      context: ./express
      dockerfile: Dockerfile.express
    ports:
      - 3000:3000

    volumes:
      - video_express_node:/app/node_modules
      - transcoded_videos:/app/public/transcoded
      - thumbnails:/app/public/thumbnails
      - ./express:/app

    tty: true
    stdin_open: true
    # depends_on:
    #   - mongo
    networks:
      - default

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - 27017:27017
    volumes:
      - ./database-data:/data/db
    # networks:
    #   - default
    #   - mongo-express

  mongo_express:
    image: mongo-express:latest
    container_name: mongo_express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017
      # ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017
      # ME_CONFIG_BASICAUTH_USERNAME: admin
      # ME_CONFIG_BASICAUTH_PASSWORD: Password1

    # depends_on:
      # mongodb:
        # condition: service_completed_successfully

      # networks:
      #   - mongo-express

  dev:
    container_name: video-dev
    image: video-dev:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 15173:5173
    volumes:
      - video_dev_node_modules:/app/node_modules
      - .:/app
    depends_on:
      - express
    tty: true
    stdin_open: true
    networks:
      - default

networks:
  default:
    driver: bridge
  mongo-express:
    name: mongo-express
    driver: bridge

volumes:
  video_dev_node_modules:
  video_express_node:
  transcoded_videos:
  thumbnails:


